@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  line-height: 1.6;
  color: #333333;
  background-color: #F8F9FA;
}

.gold-text-shadow {
  text-shadow: 
    0 0 5px rgba(255, 221, 0, 0.5),
    0 0 10px rgba(255, 221, 0, 0.3);
}